<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gujerbit.main.dao.MessageDAO">
	<select id="selectMessageList" resultType="MessageVO">
		SELECT * FROM room
		LIMIT #{limit}, 10
	</select>
	
	<select id="selectMessageSize" resultType="int">
		SELECT COUNT(idx) FROM room
	</select>
	
	<select id="selectSearchMessage" resultType="MessageVO">
		SELECT * FROM room
		<where>
			idx LIKE CONCAT('%', #{searchData}, '%') OR
			room_id LIKE CONCAT('%', #{searchData}, '%') OR
			id LIKE CONCAT('%', #{searchData}, '%') OR
			message LIKE CONCAT('%', #{searchData}, '%')
		</where>
		LIMIT ${limit}, 10
	</select>
	
	<select id="selectSearchMessageSize" resultType="int">
		SELECT COUNT(idx) FROM room
		<where>
			idx LIKE CONCAT('%', #{searchData}, '%') OR
			room_id LIKE CONCAT('%', #{searchData}, '%') OR
			id LIKE CONCAT('%', #{searchData}, '%') OR
			message LIKE CONCAT('%', #{searchData}, '%')
		</where>
	</select>
</mapper>